<div class="row">
		<div class="about-splash jumbotron-fluid jumbotron">
			<h1 class="about-splash__heading">ABOUT</h1>
		</div>
</div>

<div class="row">
	<div class="col">
		<div class="about-page__content">
			<div class="vignette">
				<p>This is an example site, built to test out how the HarpJS Static Site Generator works</p>
				<p>Static HTML is served by the Harp server, basic styling with Bootstrap + some custom CSS.</p>
				<p>The top level pages are written in EJS templated HTML, the chapters are written in Markdown</p>
				<p>The site presents the full text of The Rime of the Ancient Mariner by Samuel Taylor Coleridge, and features selections from the original illustrations by Gustave Dore. Content taken from Wikipedia and Wikimedia.</p>
				<h3 class="about-page__link-list-title">Relevant Links</h3>
				<ul class="about-page__link-list">
					<li class="about-page__link-list-item"><a href="https://en.wikisource.org/wiki/The_Rime_of_the_Ancyent_Marinere_(1798)">Poem Text</a></li>
					<li class="about-page__link-list-item"><a href="https://commons.wikimedia.org/wiki/Category:The_Rime_of_the_Ancient_Mariner_by_Gustave_Dor%C3%A9">Images</a></li>
					<li class="about-page__link-list-item"><a href="http://harpjs.com/">HarpJs</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>