<div class="row">
	<div class="col p-0">

		<div class="homepage-splash jumbotron-fluid jumbotron">

			<div class="homepage-image-overlay">
				<h1 class="homepage-image-overlay__title">THE RIME OF THE ANCYENT MARINERE<br>
					<small class="homepage-image-overlay__subtitle" >IN SEVEN PARTS.</small><br>
					<small class="homepage-image-overlay__author" >Samuel Taylor Coleridge</small>
				</h1>
			</div>

		</div>
	</div>
</div> <!-- end of row -->

<div class="row">
	<div class="col homepage__intro-wrapper">
		<div class="vignette">		
			<p class="homepage__intro-paragraph">How a Ship having passed the Line was driven by<br>
			Storms to the cold Country towards the South Pole;<br>
			and how from thence she made her course to the<br>
			tropical Latitude of the Great Pacific Ocean; and<br>
			of the strange things that befell; and in what<br>
			manner the Ancyent Marinere came back to his<br>
			own Country.</p>
		</div>
	</div>
	
</div>
