<div class="row header-bar">
	<nav class="navbar navbar-expand-md header-bar__navbar">
		<div class="navbar-nav">
		    <a href="/" class="nav-link nav-item text-light <%- current.source == 'index' ? 'active' : 'non-active' %>">Home</a>
		    <a href="/about" class="nav-link nav-item text-light <%- current.source == 'about' ? 'active' : 'non-active' %>">About</a>
	    </div>
	</nav>
</div>	